.select_container{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.select_container label{
    margin-bottom: .6em;
    font-weight: bold;
}

.select_container select{
    height: 3em;
    border: none;
    padding: 0.7em;
}