.btn {
    background: #222;
    color: #fff;
    border: none;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 1em;
}

.btn:hover{
    color: #ffbb33;
}