.container{
    background-color: #222;
    display: flex;  
    padding: 1em;
}

.list{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none; 
}

.list a{
    color: #fff;
    text-decoration: none;
}

.list li a:hover{
    color: #ffbb33;
    transition: 1s;
}